{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
</head>
<h2 style="text-align:center; color:blue;margin-top: 50px;">ADD QUESTION</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 10px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="question">Course</label>
        {% if selected_course %}
        <select class="form-control" id="id_courseID" name="courseID" required>
                <option value="{{ selected_course.id }}">{{ selected_course.course_name }}</option>
        </select>
        {% else %}
        <select class="form-control" id="id_courseID" name="courseID" required>
            {% for c in courses %}
            <option value="{{ c.id }}">{{ c.course_name }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <br>

        {% for i in "x"|rjust:question_count %}
        <div class="row shadow-lg m-3">
            <div class="p-5">
                <div class="col-md-10 mb-5">
                    <label for="question_{{ forloop.counter }}">{{ forloop.counter }} Question</label>
                    <input type="text" class="form-control" placeholder="What is the currency of India ?" id="question_{{ forloop.counter }}" name="question_{{ forloop.counter }}" required>
                </div>
                <div class="col-md-2">
                    <label for="question_marks_{{ forloop.counter }}">Marks</label>
                    <input type="number" class="form-control" placeholder="10" id="question_number_{{ forloop.counter }}" name="marks_{{ forloop.counter }}" required>
                </div>
                <br><br>
                <div class="col-md-6">
                    <label for="option1_{{ forloop.counter }}">Option 1</label>
                    <input type="text" class="form-control" placeholder="Rupees" id="option1_{{ forloop.counter }}" name="option1_{{ forloop.counter }}" required>
                </div>
                <div class="col-md-6">
                    <label for="option2_{{ forloop.counter }}">Option 2</label>
                    <input type="text" class="form-control" placeholder="Dollar" id="option2_{{ forloop.counter }}" name="option2_{{ forloop.counter }}" required>
                </div>
                <div class="col-md-6">
                    <label for="option3_{{ forloop.counter }}">Option 3</label>
                    <input type="text" class="form-control" placeholder="Taka" id="option3_{{ forloop.counter }}" name="option3_{{ forloop.counter }}" required>
                </div>
                <div class="col-md-6">
                    <label for="option4_{{ forloop.counter }}">Option 4</label>
                    <input type="text" class="form-control" placeholder="Euro" id="option4_{{ forloop.counter }}" name="option4_{{ forloop.counter }}" required>
                </div>
                <div class="col-md-6">
                    <label for="answer_{{ forloop.counter }}">Answer</label>
                    <select class="form-control" id="answer_{{ forloop.counter }}" name="answer_{{ forloop.counter }}" required>
                        <option value="">-------</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <option value="option4">Option 4</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">ADD</button>
</form>
<br><br><br>
{% endblock content %}
