{% extends "management/mentorbase.html" %}
{% block filter1 %}
<select class="mb-2" name="class" id="class">
    <option value="">All</option>
    {% for class in classes %}
      <option value="{{class}}" {% if class_filter == class %}selected{% endif %}>{{class}}</option>
    {% endfor %}
</select>
{% endblock filter1 %}
{% block filter2 %}
<select class="mb-2" name="gender" id="gender">
  <option value="" {% if gender_filter == "" %}selected{% endif %}>All</option>
  <option value="Male" {% if gender_filter == "Male" %}selected{% endif %}>Male</option>
  <option value="Female" {% if gender_filter == "Female" %}selected{% endif %}>Female</option>
</select>
{% endblock filter2 %}
{% block btn %}<button class="btn btn-primary btn-sm mt-3" id="assign">Assign</button>
<br>
<button class="btn btn-sm mt-1 px-1 text-primary" id="clear">Clear</button>
{% endblock btn %}
{% block table-head %}Select{% endblock table-head %}
{% block table %}
{% if students|length == 0 %}
    <p class="text-center mt-5">No available students</p>
{% endif %}
{% for student in students %}
    <tr><td><input class="selectable" type="checkbox" name="roll" id="r{{student.user.username}}" value="{{student.user.username}}"><label for="r{{student.user.username}}" class="ms-1">{{student.user.username}}</label></td></tr>
{% endfor %} 
{% endblock table %}