{% extends "management/mentorbase.html" %}
{% block btn %}<button class="btn btn-primary btn-sm mt-3" id="assign">Assign</button>{% endblock btn %}
{% block table %}
<tr><td><input type="checkbox" name="roll" id="1" value="1"><label for="1" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="2" value="2"><label for="2" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="3" value="3"><label for="3" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="4" value="4"><label for="4" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="5" value="5"><label for="5" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="6" value="6"><label for="6" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="7" value="7"><label for="7" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="8" value="8"><label for="8" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="9" value="9"><label for="9" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="10" value="10"><label for="10" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="11" value="11"><label for="11" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="12" value="12"><label for="12" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="13" value="13"><label for="13" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="14" value="14"><label for="14" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="15" value="15"><label for="15" class="ms-1">209x1a1111</label></td></tr>
<tr><td><input type="checkbox" name="roll" id="16" value="16"><label for="16" class="ms-1">209x1a1111</label></td></tr>  
{% endblock table %}