{% extends 'management/adminbase.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "bbbootstrap.css" %}">
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
crossorigin="anonymous"
/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info my-5">
                <div class="card-header">
                    <div class="p-3">
                        <form method="POST" action="">
                            {% csrf_token %}

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="faculty_id" class="form-label small">Faculty id:</label>
                                    <input type="text" class="form-control" id="faculty_id" name="faculty_id" placeholder="faculty id" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="fcaulty_name" class="form-label small">Faculty_name:</label>
                                    <input type="text" class="form-control" id="fcaulty_name" name="faculty_name" placeholder="faculty_name" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="faculty_Designation" class="form-label small">Faculty Designation:</label>
                                    <input type="text" class="form-control" id="faculty_Designation" name="faculty_Designation" placeholder="Faculty Designation" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="faculty_branch" class="form-label small">Faculty Branch:</label>
                                    <input type="text" class="form-control" id="faculty_branch" name="faculty_branch" placeholder="Faculty Branch" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="faculty_email" class="form-label small">Email:</label>
                                    <input type="email" class="form-control" id="faculty_email" name="faculty_email" placeholder="Credits of the subject" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="faculty_phone" class="form-label small">Phone number:</label>
                                    <input type="tel" class="form-control" id="faculty_phone" name="faculty_phone" placeholder="Phone number" required>
                                </div>                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="skillset" class="form-label small">Skill set:</label>
                                    <input type="tel" class="form-control" id="skillset" name="skillset" placeholder="Skill set" required>
                                </div>
                                <div class="col-md-6">
                                     <label for="faculty_image" class="form-label small">Upload image</label><br>
                                     <input type="file" id="faculty_image" class="form-control" name="image" accept="image/*" required>
                                     
                                </div>

                            </div>
                                
                            </div>

                            <div class="row mb-3">
                                
                                <div class="col-md-4 mt-3">
                                    <button type="submit" class="btn btn-success" style="background-color: #19B3D3; ">save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}