{% extends 'management/adminbase.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-family: arial;
  font-size: 18px;
}

.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  /*max-width: 300px;*/
  max-width: 200px; /* Adjust this value to reduce the length */
  margin: 20px;
  text-align: center;
  font-family: arial;
  {% comment %} padding:5px; {% endcomment %}
}

.mytitle {
  color: grey;
  /*font-size: 18px;*/
  font-size: 14px; /* Adjust font size */
  text-align:center;
}


.mybutton {
  border: none;
  outline: 0;
  display: inline-block;
  /*padding: 8px;*/
  padding: 6px; /* Adjust padding */
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  /*font-size: 18px;*/
  font-size: 14px; /* Adjust font size */
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.search
{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin:0 auto;
}
.addProfile
{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    border-radius: 2px;
    margin-left: 460px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}
</style>
</head>
<body>
<div class="search">
    <h2 style="margin: 20px;">Faculty Profiles</h2>
    <input type="text" id="searchInput" name="search" onkeyup="searchProfile()" placeholder="Search by names.." style="margin: 20px;">   
    
 </div> 
<a href="{% url "faculty-details" %}" class="addProfile">Add Profile</a>
<div class="container" id="content" >
    
    {% for faculty_data in  faculty_data%}
    <div class="mycard">
        <img src= "{% static 'image/{{faculty_data.mentor_image}}' %}" alt="No image" style="width:100%">
        <h2>{{faculty_data.faculty_name}}</h2>
        <p class="mytitle">{{faculty_data.faculty_designation}}</p>
        <p>{{faculty_data.faculty_branch}}</p>
      </div>
    {% endfor %} 

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>A. Vishnu Vardhan Reddy</h4>
    <p class="mytitle">Emerging Technologies in Computer Science</p>
    <p><button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="mybutton">More</button></p>
  </div>

  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Emp id: 1234</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-size:18px"><span class="fw-semibold">Name: </span>A. Vishnu Vardhan Reddy</p>
        <p style="font-size:18px"><span class="fw-semibold">Dept: </span>ECS</p>
        <p style="font-size:18px"><span class="fw-semibold">Email: </span>vishnu.ecs@gprec.ac.in</p>
        <p style="font-size:18px"><span class="fw-semibold">Contact: </span>9876543210</p>
      </div>
      {% comment %} <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> {% endcomment %}
    </div>
  </div>
</div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p><button>Contact</button></p>
    <p><button style="background-color: green;">Approve</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Texas University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jaye Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jay Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>John Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <div class="mycard">
    <img src= "{% static 'image/student.png' %}" alt="John" style="width:100%">
    <h4>Jane Smith</h4>
    <p class="mytitle">CTO, ABC Company</p>
    <p>Stanford University</p>
    <p><button>Contact</button></p>
  </div>

  <!-- Add more profile mycards here as needed -->

</div>



<script>
    function searchProfile() {
      // Declare variables
      var input, filter, container, mycard, mytitle, i, txtValue;
      input = document.getElementById('searchInput');
      filter = input.value.toUpperCase();
      container = document.getElementsByClassName('container')[0];
      mycard = container.getElementsByClassName('mycard');
    
      // Loop through all mycards, and hide those who don't match the search query
      for (i = 0; i < mycard.length; i++) {
        mytitle = mycard[i].getElementsByTagName("h4")[0];
        txtValue = mytitle.textContent || mytitle.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          mycard[i].style.display = "";
        } else {
          mycard[i].style.display = "none";
        }
      }
    }
</script>


{% endblock content %}