<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
  /*.container
  {
    overflow: hidden;
    margin-top: 80px;
  }*/
</style>
<body style="background-color: aqua;">
  {% include "management/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center" >
    <br><br><br>
    <img src="static\image\gprectext.png" alt="">
    <h1 class="display-1 text-primary">Student Portfolio management</h1>
    <p class="display-4 d-none d-sm-block">Gain your skills and hold your position on the leaderboard.</p>
    <p class="lead">We organize quizzes on various topics.</p>

    

    <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
   
    
    <br><br><br>
  </div>  
</section>
  {% include "management/footer.html" %}


</body>

</html>
