{% extends "management/mentorbase.html" %}
{% block mentee_count %}<p style="font-size:18px"><span class="fw-semibold">No. of Mentees: </span>{{mentees|length}}</p>{% endblock mentee_count %}
{% block filter1 %}
{{class}}
{% endblock filter1 %}
{% block filter2 %}
{{gender}}
{% endblock filter2 %}
{% block btn %}
<button type="button" class="btn btn-success btn-sm mt-3" id="update" data-bs-toggle="modal" data-bs-target="#caution">Update</button>
<div class="modal fade" data-bs-backdrop="static" id="caution" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class=" text-primary" id="exampleModalLabel">All the previously assigned mentees will be removed !</h6>
          {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href=" {% url "mentor-assign" details.emp_id %} "><button type="button" class="btn btn-outline-primary" id="okButton">Proceed</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock btn %}
{% block table %}
  {% if mentees|length == 0 %}
      <p class="text-center mt-5">No assigned students</p>
  {% endif %}
  {% for mentee in mentees %}
    <tr><td><label class="exclude ms-3">{{mentee.user.username}}</label></td></tr>
  {% endfor %} 
{% endblock table %}