{% extends "management/adminbase.html" %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
    *{
        margin:0; padding:0;
    }
      
      .table-container{
        height: 400px;
        border:1px solid;
        overflow-y:scroll;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none; 
      }
      
      table td{
        padding:5px 10px;
      }
      
      .selectedArea{
        display:inline-block;
        margin:20px 0;
      }
      
      .dragArea{
        position:absolute;
        display:none;
        width:100px;
        height:100px;
        border:1px solid rgba(0,0,0,.15);
        background:rgba(0,0,0,.05);
      }
      
      .dragArea.remove{  
        border:1px solid rgba(255,0,0,.15);
        background:rgba(255,0,0,.05);
      }
      
      .dragArea.add{  
        border:1px solid rgba(0,0,255,.15);
        background:rgba(0,0,255,.05);
      }

</style>
<div class="container">
<div class="row">
  <div class="col ms-2" id="lorem">
    <h4 class="text-center mb-5">Mentor details</h4>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static details.mentor_image.url %}" alt="" style="height:150px; width:120px" class="mx-auto d-block"><br>
      </div>
      <div class="col">
        <p style="font-size:18px"><span class="fw-semibold">Emp id: </span>{{details.emp_id}}</p>
        <p style="font-size:18px"><span class="fw-semibold">Name: </span>{{details.name}}</p>
        <p style="font-size:18px"><span class="fw-semibold">Dept: </span>{{details.department}}</p>
        <p style="font-size:18px"><span class="fw-semibold">Email: </span>{{details.email}}</p>
        <p style="font-size:18px"><span class="fw-semibold">Contact: </span>{{details.mobile}}</p>
        <p style="font-size:18px"><span class="fw-semibold">No. of Mentees: </span>15</p>
        <div class="form-check form-switch">
          {% if details.is_active %}
          {% comment %} <a href=" {% url 'update-is-active' details.emp_id %} "><button type="submit" class="btn btn-danger" id="alert_message" onclick="alert_message()">deactivate</button></a>
          <p>Clicking this button deactivates the account.</p> {% endcomment %}
          <!-- Button to trigger the modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#alertmessage">Deactivate</button>
        <p>Clicking this button deactivates the account.</p>
        <div class="modal" id="alertmessage" tabindex="-1" aria-labelledby="alertmessageLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="alertmessageLabel">Are you sure to deactivate the account?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href=" {% url 'update-is-active' details.emp_id %} "><button type="button" class="btn btn-primary" id="okButton">OK</button></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        </div>    
      </div>
    </div> 
                             
  </div>
  {% if details.is_active %}
  <div class="col-md-2" id="filters">
    <form action="#" method="post">
      <label for="class">Class</label><br>
      <select class="mb-2" name="class" id="class" {% block class_disable %}{% endblock class_disable %}>
        <option value="III CSE A">III CSE A</option>
        <option value="IV ECE C">IV ECE C</option>
        <option value="I MEC A">I MEC A</option>
      </select><br>
      <label for="gender">Gender</label><br>
      <select class="mb-2" name="gender" id="gender" {% block gender_disable %}{% endblock gender_disable %}>
        <option value="All">All</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </form>
    <div class="form-text fst-italic">Left click & Drag over multiple checkboxes to select/deselect</div>
    {% block btn %}{% endblock btn %}

  </div>
  <div class="col-md-3">
    
      <form action="#" method="POST" id="rollform">
      <div class="table-container">
        <h6 class="text-center mt-2">Mentees</h6>
        <table class="mx-2">
           {% block table %}{% endblock table %}   
        </table>
      </div>
  </form>
  </div>   
  {% else %}
  
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h5><span class="badge text-bg-warning">Deactivated</span></h5>
    </div>
  </div>
    
  {% endif %}
</div>
</div>
{% comment %} <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> {% endcomment %}
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    var sx;
    var sy;
    var ex;
    var ey;
    var ta;
    var drag = false;
    var scrollSpeed = 8;

    $(document).ready(function () {
      var dragArea = document.createElement("div");
      dragArea.setAttribute('class', 'dragArea');
      document.body.appendChild(dragArea);

    });

    // document.getElementById("frm").requestSubmit(document.getElementById("nb"))

     document.oncontextmenu = function() {
       if (event.which === 1) { // Check if the left mouse button is pressed
         return false; // Prevent context menu for non-left clicks
        }
     }

    $('#assign').click(function(){
        $('#rollform').submit()
    });

    $('#class,#gender').change(function(){
      /*$.ajax({
        url: '/mentor-assign/{{details.emp_id}}',
        method:'POST',
        data: {
            'class': $('#class').val(),
            'gender':$('#gender').val(),
        },
      });*/
      $('#filterForm').submit();
    });

    {% comment %} $('#class').trigger("change") {% endcomment %}

    function filter(){
      
    }

    $('#lorem,#filters').on('mousedown', function (event) {
      // event.stopPropagation();

        event.stopPropagation();
    });

    var sidebar = $('.sidebar')
    sidebar.on('mousedown', function (event) {
          event.stopPropagation();
    });

    $(document).on("mousemove", function (event) {
      if (drag) {

        var flipX = "";
        var flipY = "";
        var top = sy;
        var left = sx;
        var height = event.pageY - sy;
        var width = event.pageX - sx;

        if ((event.pageX - sx) < 0) {
          flipX = "scaleX(-1)";
          width = sx - event.pageX;
          left = event.pageX;
        }

        if ((event.pageY - sy) < 0) {
          flipY = "scaleY(-1)";
          height = sy - event.pageY;
          top = event.pageY;
        }



        $(".dragArea").attr("style", "display:block; top:" + top + "px;  left:" + left + "px; width:" + width + "px; height: " + height + "px; transform:" + flipX + " " + flipY + ";");

              //Scroll with drag
              // Check if mouse is near the top or bottom edge of the container
              /* var containerTop = $('.table-container').offset().top;
              var containerBottom = containerTop + $('.table-container').height();
              var scrollTop = $('.table-container').scrollTop();
          
              if (event.pageY < containerTop + 20 && scrollTop > 0) {
                $('.table-container').scrollTop(scrollTop - scrollSpeed);
              } else if (event.pageY > containerBottom - 20 && scrollTop < $('.table-container')[0].scrollHeight - $('.table-container').height()) {
                $('.table-container').scrollTop(scrollTop + scrollSpeed);
              } */

      }
    });

    $(document).on("mousedown", function (event) {
      if (event.which === 1) { // Only allow left mouse button
        drag = true;
        sx = event.pageX;
        sy = event.pageY;

        
        $(".dragArea").addClass("add");
        $(".dragArea").removeClass("remove");

        $(".dragArea").attr("style", "display:block; top:" + event.pageY + "px; left:" + event.pageX + "px; width:0; height:0;");
      }
    });

    $(document).on("mouseup", function (event) {
      if (drag) {
        drag = false;
        $(".dragArea").attr("style", "display:none;");

        ex = event.pageX;
        ey = event.pageY;

        if (ex < sx) {
          ta = ex;
          ex = sx;
          sx = ta;
        }

        if (ey < sy) {
          ta = ey;
          ey = sy;
          sy = ta;
        }

        selectItems();

        $(".selectedArea").text("X-Range: " + sx + ":" + ex + " | Y-Range: " + sy + ":" + ey);
      }
    });

    function selectItems() {
        $('.table-container input[type=checkbox]').each(function () {
          if (!$(this).is(':disabled')) {
            var pos = $(this).position();
            var cxLow = pos.left;
            var cxHi = pos.left + $(this).width();
            var cyLow = pos.top;
            var cyHi = pos.top + $(this).height();
            if (cxLow <= sx && sx <= cxHi && cxLow <= ex && ex <= cxHi) {
              if (cyLow <= sy && sy <= cyHi && cyLow <= ey && ey <= cyHi) {
                $(this).prop("checked", !$(this).prop("checked"));
              }
            }
            else if (sx <= cxHi && ex >= cxLow) {
              if (sy <= cyHi && ey >= cyLow) {
                $(this).prop("checked", !$(this).prop("checked"));
              }
            }
          }
        });
      }
      
      document.addEventListener("DOMContentLoaded", function() {
        var isActive = {{ details.is_active|lower }};
        var switchElement = document.getElementById("is_active");
    
        // Set the switch state based on the value of isActive
        switchElement.checked = isActive;
    
        // If isActive is false, disable the switch
        if (!isActive) {
            switchElement.disabled = true;
        }
    });
    

  </script>

{% endblock content %}