{% extends "management/adminbase.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<style>

      .table-fixed-header {
        height: 300px; /* Adjust the height as needed */
        overflow-y: auto;
    }
</style>
<div class="container mt-5">
    <div class="card">
            <div class="card-header p-3x fixed-div"> 
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="p-1">Skills Board</h4>
                    </div>
                    <div class="col-md-6">
                        <form action="#" method="GET">
                            <!-- Search or Filter Input -->
                            <div class="d-flex float-end">
                                    <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search subject" value="{{search_query}}">
                                    <button type="submit" class="btn btn-primary" id="go">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </button>                
                                <button type="button" class="btn btn-primary mx-2 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#filterModal">
                                    <span class="me-1">Filter</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 971.986 971.986">
                                        <path d="M370.216,459.3c10.2,11.1,15.8,25.6,15.8,40.6v442c0,26.601,32.1,40.101,51.1,21.4l123.3-141.3
                                        c16.5-19.8,25.6-29.601,25.6-49.2V500c0-15,5.7-29.5,15.8-40.601L955.615,75.5c26.5-28.8,6.101-75.5-33.1-75.5h-873
                                        c-39.2,0-59.7,46.6-33.1,75.5L370.216,459.3z"/>                            
                                    </svg>
                                </button>
                                <a class="btn btn-outline-primary" href="#" data-bs-toggle="tooltip" data-bs-title="Clear filters">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 2 36 36">
                                        <path d="M23.9,18.6L10.3,5.1h22.2C33.3,5,34,5.6,34,6.4c0,0,0,0,0,0.1v1.1c0,0.5-0.2,1-0.6,1.4L23.9,18.6z" class="clr-i-solid clr-i-solid-path-1"></path>
                                        <path d="M33.5,31L4.1,1.6L2.6,3l2.1,2.1H3.5C2.7,5,2,5.6,2,6.4c0,0,0,0,0,0.1v1.1c0,0.5,0.2,1,0.6,1.4L14,20.5v10.1l8,3.4V22.4l10.1,10.1L33.5,31z" class="clr-i-solid clr-i-solid-path-2"></path>
                                    </svg>
                                </a>
                                <div class="modal fade" id="filterModal" data-bs-backdrop="static">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                          <h1 class="modal-title fs-5" id="filterModalLabel">Apply filters</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <label for="scheme">Name:</label>
                                                <select name="scheme" id="scheme" class="form-select">
                                                    {% for scheme in schemes %}
                                                        <option value="{{scheme.scheme}}" {% if scheme_filter == "{{scheme.scheme}}" %}selected{% endif %}>{{scheme.scheme}}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="sector">Sectors:</label>
                                                <select name="sector" id="sector" class="form-select">
                                                    <option value="IT" {% if sem_filter == "IT" %}selected{% endif %}>IT</option>
                                                    <option value="ELECRONICS" {% if sem_filter == "ELECRONICS" %}selected{% endif %}>ELECRONICS</option>
                                                    <option value="ELECTRICAL" {% if sem_filter == "ELECTRICAL" %}selected{% endif %}>ELECTRICAL</option>
                                                    <option value="MECHANICAL" {% if sem_filter == "MECHANICAL" %}selected{% endif %}>MECHANICAL</option>
                                                    <option value="CIVIL" {% if sem_filter == "CIVIL" %}selected{% endif %}>CIVIL</option>
                                                </select>
                                                <label for="Domain">Domain:</label>
                                                <select name="Domain" id="Domain" class="form-select">
                                                    <option value="">All</option>
                                                </select>
                                                <label for="level">Level</label>
                                                <select name="level" id="level" class="form-select">
                                                    <option value="Beginner" {% if sem_filter == "Beginner" %}selected{% endif %}>Beginner</option>
                                                    <option value="Intermediate" {% if sem_filter == "Intermediate" %}selected{% endif %}>Intermediate</option>
                                                    <option value="Advanced" {% if sem_filter == "Advanced" %}selected{% endif %}>Advanced</option>
                                                </select>
                                        </div>
                                        <div class="modal-footer border-top-0">
                                            <button type="submit" class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>  
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-success float-end mb-4">Add Record</a>
                </div>
            </div>
            <!-- Records Table -->
            <div class="row">
                <div class="table-responsive table-fixed-header" id="table-container">
                    <table class="table" id="dataTable">
                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th class="header">Name</th>
                                <th class="header">Sector</th>
                                <th class="header">Domain</th>
                                <th class="header">Level</th>
                                <th class="header">Edit</th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>AWS</td>
                            <td>IT</td>
                            <td>Cloud Computing</td>
                            <td>Advanced</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            </td>
                        </tr>
                        <tr>
                            <td>Design for Test</td>
                            <td>Electronics</td>
                            <td>VLSI</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td>MECHANICAL</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr><tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>IT</td>
                            <td>Programming</td>
                            <td>Intermediate</td>
                            <td>
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ record.subject.id }}">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                </svg>
                            </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Pagination -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
