{% extends "management/adminbase.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
{% load static %}
<script src="{% static "typeahead.js" %}"></script>
<style>
    .tab{
        height: 300px;
        overflow-y:auto;
    }
    .ellipsis{
        text-overflow:ellipsis;
    }
    .rotate {
        -webkit-transform: rotate(45deg);
    }
    .smooth{
        transition: all 0.4s ease-in-out;
    }
</style>
<div class="container mt-3">
    <div class="card">
            <div class="card-header p-3">
                <form action="{% url "admin-skill" %}" method="GET">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="p-1">Skills Board</h4>
                    </div>
                    <div class="col-md-6">
                        
                            <!-- Search or Filter Input -->
                            <div class="d-flex float-end">
                                    <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search skill">
                                    {% comment %} <button type="submit" class="btn btn-primary" id="go">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </button>{% endcomment %}
                                <button type="button" class="btn btn-primary ms-2 d-flex align-items-center position-relative" id="filterButton" data-bs-toggle="collapse" data-bs-target="#filterCollapse">
                                    <span class="me-1">Filter</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg smooth" viewBox="0 0 16 16" id="filterIcon">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" stroke-width=1 stroke="currentColor"/>
                                    </svg>
                                </button>
                                <div class="ms-2 ">
                                    <a class="btn btn-outline-secondary btn" href="{% url "admin-skill" %}" data-bs-toggle="tooltip" data-bs-title="Clear">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 2 36 36">
                                            <path d="M23.9,18.6L10.3,5.1h22.2C33.3,5,34,5.6,34,6.4c0,0,0,0,0,0.1v1.1c0,0.5-0.2,1-0.6,1.4L23.9,18.6z" class="clr-i-solid clr-i-solid-path-1"></path>
                                            <path d="M33.5,31L4.1,1.6L2.6,3l2.1,2.1H3.5C2.7,5,2,5.6,2,6.4c0,0,0,0,0,0.1v1.1c0,0.5,0.2,1,0.6,1.4L14,20.5v10.1l8,3.4V22.4l10.1,10.1L33.5,31z" class="clr-i-solid clr-i-solid-path-2"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="row collapse mt-3 float-end" id="filterCollapse">
                    <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <div class="mx-3 small d-flex">
                                    <label for="sector_filter" class="form-label me-1 mt-1">Sector:</label>
                                    <select name="sector_filter" id="sector_filter" class="form-select form-select-sm ellipsis">
                                        <option value="">All</option>
                                        <option value="IT" {% if sector_filter == "IT" %}selected{% endif %}>IT</option>
                                        <option value="Mechanics" {% if sector_filter == "Mechanics" %}selected{% endif %}>Mechanics</option>
                                        <option value="Electronics" {% if sector_filter == "Electronics" %}selected{% endif %}>Electronics</option>
                                        <option value="Electricals" {% if sector_filter == "Electricals" %}selected{% endif %}>Electricals</option>
                                        <option value="Construction" {% if sector_filter == "Construction" %}selected{% endif %}>Construction</option>
                                    </select>
                                </div>
                                <div class="small d-flex">
                                    <label for="domain_filter" class="form-label me-1 mt-1">Domain:</label>
                                    <select name="domain_filter" id="domain_filter" class="form-select form-select-sm ellipsis">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="mx-3 small d-flex">
                                    <label for="level_filter" class="form-label me-1 mt-1">Level:</label>
                                    <select name="level_filter" id="level_filter" class="form-select form-select-sm ellipsis">
                                        <option value="">All</option>
                                        <option value="Basic" {% if level_filter == "Basic" %}selected{% endif %}>Basic</option>
                                        <option value="Intermediate" {% if level_filter == "Intermediate" %}selected{% endif %}>Intermediate</option>
                                        <option value="Advanced" {% if level_filter == "Advanced" %}selected{% endif %}>Advanced</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-outline-secondary btn-sm" type="submit" data-bs-toggle="tooltip" data-bs-title="Apply">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                                        </svg>
                                    </button>
                                </div>
                                
                            </div>
                        
                    </div>
                </div>
            </form>
            </div>
        <div class="card-body">
            <!--Add modal-->
            <div class="modal fade" id="addModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Add skill</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <form method="POST" action="{% url "admin-add-skill" %}">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label for="skill_name">Skill name:</label>
                                    <input class="form-control" id="skill_name" name="skill_name" placeholder="">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="sector">Sector:</label>
                                    <select class="form-select" id="sector" name="sector" placeholder="">
                                        <option value="IT">IT</option>
                                        <option value="Construction">Construction</option>
                                        <option value="Mechanics">Mechanics</option>
                                        <option value="Electronics">Electronics</option>
                                        <option value="Electricals">Electricals</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="domain">Domain:</label>
                                    <input class="form-control domain" id="domain" name="domain" placeholder="">
                                </div>
                                <div class="form-group mb-3">
                                    <label>Level:</label>
                                    {% comment %} <select id="level" name="level" class="form-select" placeholder="">
                                        <option value="Basic">Basic</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Advanced">Advanced</option>
                                    </select>  {% endcomment %}
                                    <div class="btn-group ms-5" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="level" id="Basic" value="Basic" autocomplete="off" checked>
                                        <label class="btn btn-outline-success" for="Basic">Basic</label>
                                      
                                        <input type="radio" class="btn-check" name="level" id="Intermediate" value="Intermediate" autocomplete="off">
                                        <label class="btn btn-outline-secondary" for="Intermediate">Intermediate</label>
                                      
                                        <input type="radio" class="btn-check" name="level" id="Advanced" value="Advanced" autocomplete="off">
                                        <label class="btn btn-outline-danger" for="Advanced">Advanced</label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="parameters">Parameters:</label>
                                    <textarea name="parameters" id="parameters" class="form-control" placeholder="" ></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success float-end mb-4" data-bs-toggle="modal" data-bs-target="#addModal">Add Record</a>
                </div>
            </div>
            <!-- Records Table -->
            <div class="row">
                <div class="table-responsive tab" id="table-container">
                    <table class="table" id="dataTable">
                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sector</th>
                                <th>Domain</th>
                                <th>Level</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in skills %}
                                <tr>
                                    <td>{{skill.skill_name}}</td>
                                    <td>{{skill.sector}}</td>
                                    <td>{{skill.domain}}</td>
                                    <td>{{skill.level}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{skill.skill_name|cut:" "}}">
                                            <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                            </svg>
                                        </button>
                                        <div class="modal fade" id="editModal{{skill.skill_name|cut:" "}}" data-bs-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit skill</h5>
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"></button>
                                                    </div>
            
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                        <form method="POST" action="{% url "admin-edit-skill" skill.skill_name %}">
                                                            {% csrf_token %}
                                                            <div class="form-group mb-3">
                                                                <label for="skill_name">Skill name:</label>
                                                                <input class="form-control" id="skill_name" name="skill_name" value="{{skill.skill_name}}">
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <label for="sector">Sector:</label>
                                                                <select class="form-select" id="sector" name="sector" placeholder="">
                                                                    <option value="IT" {% if skill.sector == "IT" %}selected{% endif %}>IT</option>
                                                                    <option value="Construction" {% if skill.sector == "Construction" %}selected{% endif %}>Construction</option>
                                                                    <option value="Mechanics" {% if skill.sector == "Mechanics" %}selected{% endif %}>Mechanics</option>
                                                                    <option value="Electronics" {% if skill.sector == "Electronics" %}selected{% endif %}>Electronics</option>
                                                                    <option value="Electricals" {% if skill.sector == "Electricals" %}selected{% endif %}>Electricals</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <label for="domain">Domain:</label>
                                                                <input class="form-control domain" id="domain" name="domain" value="{{skill.domain}}">
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <label>Level:</label>
                                                                <div class="btn-group ms-5" role="group" aria-label="Basic radio toggle button group">
                                                                    <input type="radio" class="btn-check" name="level" id="Basic{{skill.skill_name}}" value="Basic" autocomplete="off" {% if skill.level == "Basic" %}checked{% endif %}>
                                                                    <label class="btn btn-outline-success" for="Basic{{skill.skill_name}}">Basic</label>
                                                                  
                                                                    <input type="radio" class="btn-check" name="level" id="Intermediate{{skill.skill_name}}" value="Intermediate" autocomplete="off" {% if skill.level == "Intermediate" %}checked{% endif %}>
                                                                    <label class="btn btn-outline-secondary" for="Intermediate{{skill.skill_name}}">Intermediate</label>
                                                                  
                                                                    <input type="radio" class="btn-check" name="level" id="Advanced{{skill.skill_name}}" value="Advanced" autocomplete="off" {% if skill.level == "Advanced" %}checked{% endif %}>
                                                                    <label class="btn btn-outline-danger" for="Advanced{{skill.skill_name}}">Advanced</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <label for="parameters">Parameters:</label>
                                                                <textarea name="parameters" id="parameters" class="form-control" placeholder="" >{{skill.parameters}}</textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Action</button></li>
      <li><button class="dropdown-item" type="button">Another action</button></li>
      <li><button class="dropdown-item" type="button">Something else here</button></li>
    </ul>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#filterButton').click(function() {
        $('#filterIcon').toggleClass('rotate');
    });
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('searchInput');
        var table = document.getElementById('dataTable');
        var rows = table.getElementsByTagName('tr');

        input.addEventListener('keyup', function () {
            var filter = input.value.toLowerCase();
            for (var i = 1; i < rows.length; i++) {
                var skill = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
                if (skill.indexOf(filter) > -1) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    });
    var suggestions = {{domains|safe}} 
    $('.domain').typeahead({
        source: suggestions
    });
    $(document).ready(function(){
        // Define an object to store the AJAX request parameters and corresponding responses
        var ajaxResponses = {};
        $('#sector_filter').change(function(){
            var sector = $(this).val();
            // Check if the response for this sector is already cached
            $.ajax({
                url: '/get_domains',
                data: {
                    'sector': sector
                },
                dataType: 'json',
                success: function (data){
                    setDomains(data)
                    // Store the response in the ajaxResponses object
                    ajaxResponses[sector] = data;
                }
            }); 
        });
        function setDomains(data){
            var d = $('#domain_filter')
            d.empty();
            d.append('<option value="">All</option>')
            $.each(data, function(index, domain){
                d.append('<option value="' + domain + '">' + domain + '</option>');
            });
            d.find("option[value='{{domain_filter|safe}}']").attr("selected","selected");             
        }
        $('#sector_filter').trigger("change")
    });
    
    // Function to update the domains dropdown with new options
    {% comment %} function updateDomainsDropdown(domains) {
        var d = $('#domain_filter')
        d.empty();
        d.append('<option value="">All</option>')
        $.each(domains, function(index, domain){
            d.append('<option value="' + domain + '">' + domain + '</option>');
        });
    } {% endcomment %}
    
    {% comment %} if ( "{{sector_filter|safe}}" || "{{domain_filter|safe}}" || "{{level_filter|safe}}" ) {
        $('#filterCollapse').addClass('show');
        
    } {% endcomment %}
    

</script>
{% endblock content %}
