<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <style>
    form {
      margin: 50px; 
    }
  </style>
</head>
<body>
  {% include "management/navbar.html" %}
  <br><br><br>
  {% for i in messages %}
<h1 style="color:red;"> {{i}} </h1>
{% endfor %}
  <h3 style="text-align: center;color: red;">Mentor SIGNUP</h3>
  <form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">

        <label for="username">Employee ID</label>
        <input type="text" name="EmployeeID" id="username" class="form-control" placeholder="username" required>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" name="password" id="inputPassword4" class="form-control" placeholder="password" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="first_name">Name</label>
        <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Full Name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="last_name">Department</label>
        <input type="text" name="department" id="department" class="form-control" placeholder="Department" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mobile">Mobile</label>
        <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile" required>
      </div>
      <div class="form-group col-md-6">
        <label for="address">Email</label>
        <input type="text" name="email" id="address" class="form-control" placeholder="Address" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mentor_image">Image</label>
        <input id="imageInput" type="file" name="mentor_image" id="mentor_image" class="form-control" placeholder="mentor_image" required>
      </div>
    </div>
    

    <button type="submit" class="btn btn-primary" onclick="validateImage()">Sign Up</button>
  </form>
  <br><br>
  {% include "management/footer.html" %}
  <script>
  function validateImage() {
    var fileInput = document.getElementById('imageInput');
    var filePath = fileInput.value;
    if (filePath) {
        // Get the file extension
        var extension = filePath.split('.').pop().toLowerCase();
        // Check if the file extension is valid
        if (extension === 'png' || extension === 'jpg' || extension === 'jpeg') {
          // File is valid
          console.log('File is valid');
          // You can submit the form or perform further actions here
      } else {
          // File is invalid
          alert('Only PNG and JPEG images are allowed.');
          // Clear the file input
          fileInput.value = '';
      }
    } else {
        // No file selected
        alert('Please select a file.');
    }
}
</script>
</body>
</html>
