<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "leaderboard.css" %}">
</head>
<body>
<div class="wrapper">
  <a class="btn" href="{% url "home" %}">
    <svg width="25" height="25" fill="currentColor" viewBox="0 -3 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" stroke="currentColor" stroke-width="0.5"/>
    </svg>
</a>
  
  <div class="list">
    <div class="list__header">
      <h5 style="margin-bottom:0">GPREC</h5>
        <h1>Student leaderboard</h1>
        <form action="{% url "leaderboard" %}" method="GET" id="filter">
          <div style="text-align:right;">
            <select name="year" id="year">
              <option value="">All Years</option>
              <option value="1" {% if year_filter == '1' %}selected{% endif %}>I</option>
              <option value="2" {% if year_filter == '2' %}selected{% endif %}>II</option>
              <option value="3" {% if year_filter == '3' %}selected{% endif %}>III</option>
              <option value="4" {% if year_filter == '4' %}selected{% endif %}>IV</option>
            </select>
            <select name="department" id="department">
              <option value="">All Dept</option>
              <option value="CSE" {% if dept_filter == 'CSE' %}selected{% endif %}>CSE</option>
              <option value="ECE" {% if dept_filter == 'ECE' %}selected{% endif %}>ECE</option>
              <option value="EEE" {% if dept_filter == 'EEE' %}selected{% endif %}>EEE</option>
              <option value="MEC" {% if dept_filter == 'MEC' %}selected{% endif %}>MEC</option>
              <option value="CIV" {% if dept_filter == 'CIV' %}selected{% endif %}>CIV</option>
              <option value="ECS" {% if dept_filter == 'ECS' %}selected{% endif %}>ECS</option>
            </select>
            <select name="domain" id="domain">
              <option value="">All Domains</option>
              {% for domain in domains %}
                <option value="{{domain}}" {% if domain_filter == domain %}selected{% endif %}>{{domain}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
    </div>
      <table class="list__table">
        {% for student in top %}
            <tr class="list__row" id="r{{roll}}" onclick="window.location.href='{% url "home" %}'">
                <td class="list__cell"><span class="list__value">{{student.rank}}</span></td>
                <td class="list__cell"><span class="list__value">{{student.name}}</span></td>
                <td class="list__cell"><span class="list__value">{{student.yb}}</span></td>
                <td class="list__cell"><span class="list__value">{{student.score}}</span><small class="list__label">Points</small></td>
            </tr>
        {% endfor %}
      </table>
  </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>
  $('#year,#department,#domain').change(function(){
    $('#filter').submit();
  });
</script>
</body>
</html>